In [1]:
import os
from pyspark.sql import SparkSession
import pandas as pd
import setuptools

In [2]:
# Manually set Spark master to Docker Spark
os.environ["SPARK_MASTER_URL"] = "spark://localhost:7077"

# Create a Spark Session
spark = SparkSession.builder \
    .appName("Jupyter-Spark") \
    .master(os.getenv("SPARK_MASTER_URL")) \
    .config("spark.driver.host", "localhost") \
    .config("spark.executor.memory", "2g") \
    .config("spark.driver.memory", "1g") \
    .getOrCreate()

print("Spark session created successfully!")

Spark session created successfully!

In [3]:
data = [(1, "Alice"), (2, "Bob"), (3, "Charlie")]
df = spark.createDataFrame(data, ["id", "name"])

In [ ]:
df.show()

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Docker-Spark-Test") \
    .master("spark://spark-master:7077") \
    .getOrCreate()

data = [(1, "Alice"), (2, "Bob"), (3, "Charlie")]
df = spark.createDataFrame(data, ["id", "name"])
df.show()

In [7]:
data = [(1, "Alice"), (2, "Bob"), (3, "Charlie")]
df = pd.DataFrame(data, columns=["id", "name"])
df.head(2)

   id   name
0   1  Alice
1   2    Bob